<hr />
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-sm-end">
        @{
            var index = (int)ViewData["Index"];
            var pageSize = (int)ViewData["Size"];
            var remainingPagesCount = (int)ViewData["RemainingPagesCount"];
            var pageName = ViewData["Page"];
        }
        @if (index > 0)
        {
            <li class="page-item">
                <a class="page-link" asp-page="@pageName" asp-route-index="@(index - 1)" asp-route-pageSize="@pageSize">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }

        @for (int i = 1; i <= 2 && (index - i >= 0); i++)
        {
            <li class="page-item"><a class="page-link" asp-page="@pageName" asp-route-index="@(index - i)" asp-route-pageSize="@pageSize">@((index + 1) - i )</a></li>
        }

        <li class="page-item"><a class="page-link bg-dark text-white" href="#">@(index + 1) <span class="sr-only">(current)</span></a></li>

        @for (int i = 0; i < remainingPagesCount && i < 2; i++)
        {
            <li class="page-item"><a class="page-link" asp-page="@pageName" asp-route-index="@(index + i + 1)" asp-route-pageSize="@pageSize">@(index + i + 2)</a></li>
        }

        @if (remainingPagesCount > 0)
        {
            <li class="page-item">
                <a class="page-link" asp-page="@pageName" asp-route-index="@(index + 1)" asp-route-pageSize="@pageSize">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
    </ul>
</nav>