@page
@model B4Interview.Pages.CompanyModel
@{
    ViewData["Title"] = "Company";
}
<hr />
<div class="card-columns">

    @foreach (var company in Model.Companies)
    {
        <div class="card">
            <div class="card-header p-1 m-0 row">
                <div class="col-4">
                    <img class="w-100 h-100" src="@company.Logo">
                </div>
                <div class="col-8">
                    <b> @company.Name</b>
                    @{
                        var rating = company.Rating;
                        for (int i = 0; i < 5; i++)
                        {
                            if (rating == 0)
                            {
                                <span class="text-success far fa-star"></span>
                            }
                            else if (rating >= 1)
                            {
                                <span class="text-success fas fa-star"></span>
                                rating--;
                            }
                            else
                            {
                                <span class="text-success fas fa-star-half-alt"></span>
                                rating = 0;
                            }
                        }
                    }
                </div>
            </div>
            <div class="card-body">
                <p>@company.Sector</p>
                <p>
                    <ul class="list-inline float-right align-bottom">
                        <li class="list-inline-item">
                            <a asp-page="Review" asp-route-search="@company.Identifier" class="btn btn-sm btn-primary">
                                Reviews <span class="badge badge-light">@company.Reviews.Count()</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a asp-page="Interview" asp-route-search="@company.Identifier" class="btn btn-sm btn-success">
                                Interviews <span class="badge badge-light">@company.Reviews.Count()</span>
                            </a>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    }

</div>