@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="row">
    <div class="text-center w-75">
        <h1 class="display-4">Welcome</h1>
        <p>Search for Referral Jobs, Write Reviews of your company and Prepare before the Interview.</p>
        <br /><br />
        <div class="text-monospace float-left">
            <label>Had an Interview recently? Share How it was &nbsp; </label>
            <a class="btn btn-sm btn-success" asp-page="NewInterview"><i class="fas fa-plus"></i> Interview Review</a>
            </div>
        <br />
        <div class="text-monospace float-right">
            <label>Liked or disliked a Company? Share about it&nbsp;</label>
            <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#addReviewDialog"><i class="fas fa-plus"></i> Company Review</button>
        </div>
    </div>

    <div class="w-25">
        <br /><br />
        <h6 class="text-center">Recently Posted Jobs</h6>
        <div class="list-group">
            @foreach (var job in Model.RecentReferralJobs)
            {
            <a asp-page="JobDetail" asp-route-search="@job.Title" asp-route-jobid="@job.Id" class="btn-link list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1">@job.Title</h6>
                </div>
                <div class="row ml-0">
                    <div class="card-text small">
                        @foreach (var skill in job.Skills)
                        {
                            <span class="badge badge-primary">@skill.Name</span>
                        }
                    </div>
                </div>
                <small>@job.Company.Name, @job.Location</small>
                <small class="float-right blockquote-footer">@job.PostedOn.ToMoment()</small>
            </a>
                <br />
            }
        </div>
    </div>
</div>

<partial name="_newReview" />