@page
@model B4Interview.Pages.InterviewModel
@{
    ViewData["Title"] = "Interview";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@foreach (var interview in Model.Interviews)
{
    var userId = Model.UserId;
    var myUpVote = userId != null && interview.Votes.Any(v => v.UpVote && v.VoterId == userId);
    var myDownVote = userId != null && interview.Votes.Any(v => !v.UpVote && v.VoterId == userId);

    <div class="card">
        <div class="card-header">
            @interview.Title, (@interview.Experience)
            <div class="blockquote-footer"><small>@interview.Company.Name, @interview.Location</small></div>
            <small>@interview.Candidate.UserName</small>
        </div>
        <div class="card-body">
            <h5 class="card-title">Difficulty</h5>@interview.Difficulty
            <h5 class="card-title">Rounds:</h5>
            @foreach (var round in interview.Rounds)
            {
                <h6>@round.RoundType.ToString()</h6>
                <p>@round.Detail</p>
                @foreach (var question in round.Questions)
                {
                    <div class="text-monospace">
                        @question.Detail
                    </div>
                    <span class="badge badge-dark"> @question.Skill</span>
                }
            }
            <div class="float-right blockquote-footer">via @interview.Source</div>
        </div>
        <div class="card-footer bg-transparent text-muted">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <button id="btnUpvote" onclick="upVote(@interview.Id)" type="button" class="btn btn-sm btn-outline-primary" @(myUpVote ? "disabled" : "")>
                        @interview.UpVote.ToKMB() | <i class="fas @(myUpVote?"fa-check":"fa-thumbs-up")"></i>
                    </button>
                </li>
                <li class="list-inline-item">
                    <button id="btnDownvote" onclick="downVote(@interview.Id)" type="button" class="btn btn-sm btn-outline-secondary" @(myDownVote ? "disabled" : "")>
                        @interview.DownVote.ToKMB() | <i class="fas @(myDownVote?"fa-check":"fa-thumbs-down")"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
}