@page
@model B4Interview.Pages.JobApplicationModel
@{
    ViewData["Title"] = "JobApplication";
}

<div class="card w-75">
    <div class="card-header">
        @Model.Applications.First()?.Job.Title
    </div>
    <ul class="list-group list-group-flush">
        @foreach (var application in Model.Applications)
        {
            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title">
                            @application.Applicant.UserName
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card-text small text-monospace">
                            @if (application.Applicant.Fresher)
                            {
                                <em>Fresher</em>
                            }
                            else
                            {
                                <mark>@application.Applicant.Employer.Name</mark>
                            }
                        </div>
                    </div>
                </div>
                <div class="row ml-0">
                    <div class="card-text small">
                        @foreach (var skill in application.Applicant.Skills)
                        {
                            <span class="badge badge-primary">@skill.Name</span>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="offset-8 col-1 mr-3">
                        <a class="btn btn-sm btn-outline-primary" asp-page="/CandidateProfile" asp-route-Id="@application.ApplicantId">
                            <i class="fas fa-user-tie"></i>
                            Profile
                        </a>
                    </div>
                    <div class="col-2">
                        <a class="btn btn-sm btn-outline-success" asp-page="/CandidateProfile" asp-page-handler="DownloadResume" asp-route-candidateId="@application.ApplicantId">
                            <i class="fas fa-file-download"></i>
                            Resume
                        </a>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>